In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data-mining/Dataset.xlsx')
df.head()

      Tanggal  Tavg  RH_avg      RR  ff_avg
0  01-03-2020  28.5    84.0  8888.0       2
1  02-03-2020   NaN     NaN     6.4       2
2  03-03-2020  28.8    81.0     3.4       3
3  04-03-2020  27.8    84.0  8888.0       2
4  05-03-2020  28.3    81.0     0.7       2

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tanggal  31 non-null     object
 1   Tavg     27 non-null     float64
 2   RH_avg   27 non-null     float64
 3   RR       21 non-null     float64
 4   ff_avg   31 non-null     int64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ KB

In [18]:
df.isna().sum()

Tanggal     0
Tavg        4
RH_avg      4
RR         10
ff_avg      0
dtype: int64

In [19]:
df = df.rename(columns = {"Tavg": "Suhu",
                          "RH_avg":"Kelembapan",
                          "RR":"Curah_Hujan",
                          "ff_avg":"Kec_Angin"})

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tanggal      31 non-null     object
 1   Suhu         27 non-null     float64
 2   Kelembapan   27 non-null     float64
 3   Curah_Hujan  21 non-null     float64
 4   Kec_Angin    31 non-null     int64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ KB

In [21]:
df.isna().sum()

Tanggal         0
Suhu            4
Kelembapan      4
Curah_Hujan    10
Kec_Angin       0
dtype: int64

In [22]:
df["Suhu"]. fillna(df["Suhu"]. median(), inplace=True)
df["Kelembapan"]. fillna(df["Kelembapan"]. median(), inplace=True)
df["Curah_Hujan"]. fillna(df["Curah_Hujan"]. median(), inplace=True)

In [23]:
df.isna().sum()

Tanggal        0
Suhu           0
Kelembapan     0
Curah_Hujan    0
Kec_Angin      0
dtype: int64

In [24]:
df

       Tanggal  Suhu  Kelembapan  Curah_Hujan  Kec_Angin
0   01-03-2020  28.5        84.0       8888.0          2
1   02-03-2020  27.9        82.0          6.4          2
2   03-03-2020  28.8        81.0          3.4          3
3   04-03-2020  27.8        84.0       8888.0          2
4   05-03-2020  28.3        81.0          0.7          2
5   06-03-2020  27.8        84.0          3.4          2
6   07-03-2020  26.4        88.0          2.6          2
7   08-03-2020  27.0        84.0         31.1          2
8   09-03-2020  27.9        82.0       8888.0          2
9   10-03-2020  28.9        78.0          7.4          2
10  11-03-2020  28.3        79.0          7.4          3
11  12-03-2020  28.3        80.0          7.4          3
12  13-03-2020  28.4        82.0          7.4          2
13  14-03-2020  27.9        82.0         17.4          2
14  15-03-2020  28.0        78.0          7.4          2
15  16-03-2020  27.9        77.0          7.4          2
16  17-03-2020  27.3        82.0          7.4          2
17  18-03-2020  27.9        78.0          7.4          2
18  19-03-2020  27.8        82.0          7.4          2
19  20-03-2020  27.9        82.0          7.4          2
20  21-03-2020  27.1        84.0         32.5          2
21  22-03-2020  27.9        82.0          6.5          2
22  23-03-2020  26.2        88.0          9.0          2
23  24-03-2020  26.1        88.0         17.7          1
24  25-03-2020  28.0        83.0          0.2          2
25  26-03-2020  27.8        80.0          9.2          2
26  27-03-2020  27.9        83.0          7.4          2
27  28-03-2020  28.0        87.0          6.7          2
28  29-03-2020  27.4        86.0          4.7          2
29  30-03-2020  28.0        81.0          0.0          2
30  31-03-2020  28.6        80.0       8888.0          2

In [25]:
mean1 = df["Curah_Hujan"].mean()
df["Curah_Hujan"]=df["Curah_Hujan"].replace([8888.0], mean1)
df

       Tanggal  Suhu  Kelembapan  Curah_Hujan  Kec_Angin
0   01-03-2020  28.5        84.0  1154.351613          2
1   02-03-2020  27.9        82.0     6.400000          2
2   03-03-2020  28.8        81.0     3.400000          3
3   04-03-2020  27.8        84.0  1154.351613          2
4   05-03-2020  28.3        81.0     0.700000          2
5   06-03-2020  27.8        84.0     3.400000          2
6   07-03-2020  26.4        88.0     2.600000          2
7   08-03-2020  27.0        84.0    31.100000          2
8   09-03-2020  27.9        82.0  1154.351613          2
9   10-03-2020  28.9        78.0     7.400000          2
10  11-03-2020  28.3        79.0     7.400000          3
11  12-03-2020  28.3        80.0     7.400000          3
12  13-03-2020  28.4        82.0     7.400000          2
13  14-03-2020  27.9        82.0    17.400000          2
14  15-03-2020  28.0        78.0     7.400000          2
15  16-03-2020  27.9        77.0     7.400000          2
16  17-03-2020  27.3        82.0     7.400000          2
17  18-03-2020  27.9        78.0     7.400000          2
18  19-03-2020  27.8        82.0     7.400000          2
19  20-03-2020  27.9        82.0     7.400000          2
20  21-03-2020  27.1        84.0    32.500000          2
21  22-03-2020  27.9        82.0     6.500000          2
22  23-03-2020  26.2        88.0     9.000000          2
23  24-03-2020  26.1        88.0    17.700000          1
24  25-03-2020  28.0        83.0     0.200000          2
25  26-03-2020  27.8        80.0     9.200000          2
26  27-03-2020  27.9        83.0     7.400000          2
27  28-03-2020  28.0        87.0     6.700000          2
28  29-03-2020  27.4        86.0     4.700000          2
29  30-03-2020  28.0        81.0     0.000000          2
30  31-03-2020  28.6        80.0  1154.351613          2

In [26]:
df.to_excel("/content/drive/MyDrive/Colab Notebooks/data-mining/Dataset_Clean.xlsx")